* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-green: #002702;
  --yellow: #B87333;
  --gradient-circles: rgba(171, 185, 88, 0.74);
  --main-page-gradient: linear-gradient(180deg, rgba(0, 39, 2, 0) 0%, rgba(0, 39, 2, 0.13) 18.23%, #002702 83.33%);
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #002702;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1175px;
  padding: 0 15px;
  margin: 0 auto;
}

.gradient-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgba(171, 185, 88, 0.74);
  filter: blur(200px);
  border-radius: 250px;
  z-index: -1;
}

.classes-speaks .gradient-circle {
  top: 20%;
  left: 0;
}
.uk-war {
  position: relative;
}
.uk-war .gradient-circle {
  top: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1200;

  transition: background-color 0.5s ease;
}
.header .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-lang-link {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  transition: 0.5s ease;
}
.header-lang-link:hover {
  color: var(--yellow);
}
.header-burger {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 38px;
  height: 28px;
  margin-left: 45px;

}
.header-burger:hover span {
  background-color: var(--yellow);
}
.header-burger:hover::after {
  background-color: var(--yellow);
}
.header-burger:hover::before {
  background-color: var(--yellow);
}
.header-burger span {
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 100%;
  transition: 0.5s ease;
}
.header-burger::before,
.header-burger::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 100%;
  transition: 0.5s ease;
}
.header-burger::before {
  top: 0;
  left: 0;
}
.header-burger::after {
  bottom: 0;
  left: 0;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-green);
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../img/books/mobile-frame.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  display: none;
  transform: translateX(100%);
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger-menu-list li {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;

  transition: 0.5s ease;
}
.burger-menu-list li:hover {
  color: var(--yellow)
}
.burger-menu-list li:not(:first-child) {
  margin-top: 20px;
}
.burger-menu-list li:last-child {
  margin-top: 50px;
}
.znamenosets {
}
.beria {
}
.uk {
}
.mobile-support {
  padding: 10px 20px;
  border: 1px solid #fff;

  transition: 0.5s ease;
}
.mobile-support:hover {
  background: var(--yellow);
  color: #fff;
}
.burger-menu-footer {
  margin-top: 60px;
}

.main-page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.main-page-bg-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-page-bg-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-page-bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.main-page-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: var(--main-page-gradient);
}

.menu-list {
  display: flex;
  justify-items: center;
  align-items: center;
}
.menu-list li {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  transition: 0.5s ease;
}
.menu-list li:hover {
  color: var(--yellow);
}
.menu-list li:not(:first-child) {
  margin-left: 20px;
}
.menu-list li:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  border: 1px solid #fff;
}
.menu-list li:nth-child(4):hover {
  background-color: var(--yellow);
  color: #fff;
}
.menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 300px;

}
.menu-footer-social {
  display: flex;
}
.menu-footer-social_vk {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 68px;
  height: 68px;
  transition: 0.5s ease;
}
.menu-footer-social_vk:hover {
  border: 1px solid transparent;
  background-color: var(--yellow);
}
.menu-footer-social_vk img {
  width: 55px;
  height: 55px;
  display: block;
}
.menu-footer-social_youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 68px;
  height: 68px;
  margin-left: 40px;
  transition: 0.5s ease;
}
.menu-footer-social_youtube:hover {
  border: 1px solid transparent;
  background-color: var(--yellow);
}
.menu-footer-social_youtube img {
  width: 55px;
  height: 55px;
  display: block;
}
.menu-footer-lang {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  transition: color 0.5s ease;
}
.menu-footer-lang:hover {
  color: var(--yellow);
}


.main-title {
  padding-top: 134px;
}
h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 85px;
  line-height: 113px;
}
.main-title-text {
  margin-top: 20px;
}


.paragraph-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.classes-speaks {
  position: relative;
  margin-top: 160px;
}
.section-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
}
.classes-speaks-title {
}
.classes-speaks-text {
  margin-top: 30px;
}
.uk-war-text {
  margin-top: 30px;
}
.section-subtitle {
  margin-top: 30px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.video-grid {
}
.video-grid-title {
  margin-top: 35px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
}
.video-row {
  margin-top: 35px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 30px;
  column-gap: 35px;
}
.film-item {
  position: relative;
  aspect-ratio: 1.86/1;
  pointer-events: none;
}
.film-item.available {
  pointer-events: inherit;
  cursor: pointer;
}
.film-item.available::after {
  position: absolute;
  content: url('../img/teas-covers/play.png');
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.film-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.teaser-item-release-date {
  position: absolute;
  top: 40px;
  right: 5px;

  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-shadow: 2px 2px 0px #000000;
}
.film-item-release-date {
  position: absolute;
  bottom: 20px;
  right: 5px;

  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-shadow: 2px 2px 0px #000000;
}


.classes-speaks-buttons {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.classes-speaks-btn:not(:first-child) {
  margin-left: 70px;
}
.classes-speaks-buttons .btn {
  width: 330px;
}
.btn {
  padding: 39px 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
.btn:hover {
  border: 1px solid transparent;
  background-color: var(--yellow);
}
.classes-speaks-btn {
}

.book-section {
  margin-top: 50px;
}
.book-row {
  display: flex;
}
.book-buttons {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-btn:not(:first-child) {
  margin-top: 46px;
}
.book-image {
  flex: 1 0 50%;
  position: relative;
  width: 100%;
  height: 100%;
}
.book-frame {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.book-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
}


.book-section-two .book-buttons,
.book-section-four .book-buttons {
  order: 2;
}

.book-section-two .book-image,
.book-section-four .book-image {
  order: 1;
}

.new {
  margin-top: 160px;
}
.section-title {
}
.classes-speaks-title {
}
.new-row {
  display: flex;
  margin-top: 30px;
}
.video-new {
  flex: 0 0 55%;
}
.video-new .new-item {
  aspect-ratio: 1.86/1;
}
.video-new .new-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.new-text {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
}
.new-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.new-p {
}
.paragraph-text {
}

.partnership {
  margin-top: 160px;
}
.section-title {
}
.classes-speaks-title {
}


.footer-column p {
  margin-top: 50px;
  text-align: center;
}
.contacts-text {
}
.contacts {
  margin-top: 20px;
  transition: 0.5s ease;
}
.contacts:hover {
  color: var(--yellow);
}
.footer-list li {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  transition: 0.5s ease;
}
.footer-list li:hover {
  color: var(--yellow);
}
.footer-list li:not(:first-child) {
  margin-top: 20px;
}

.footer {
  margin-top: 160px;
  margin-bottom: 96px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  margin-top: 40px;
}
.footer-social_vk {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 68px;
  height: 68px;
  transition: 0.5s ease;
}
.footer-social_vk:hover {
  border: 1px solid transparent;
  background-color: var(--yellow);
}
.footer-social_vk img {
  width: 55px;
  height: 55px;
  display: block;
}
.footer-social_youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 68px;
  height: 68px;
  margin-left: 40px;
  transition: 0.5s ease;
}
.footer-social_youtube:hover {
  border: 1px solid transparent;
  background-color: var(--yellow);
}
.footer-social_youtube img {
  width: 55px;
  height: 55px;
  display: block;
}
.footer-lang {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  transition: color 0.5s ease;
}
.footer-lang:hover {
  color: var(--yellow);
}

/* === POPUP === */

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.85);

  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 3000;

  transition: 0.5s ease;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}
.popup.active .popup-body{
  transform: scale(1);
}
.popup-content {
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  padding: 20px 0;
}
.popup-body {
  width: 50vw;
  height: 75vh;
  position: relative;
  padding: 40px 40px 60px 40px;
  transform: scale(0);

  transition: 0.5s ease;
}
.close-popup {
  position: relative;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close-popup:hover::after,
.close-popup:hover::before {
  background-color: var(--yellow);
}
.close-popup::before,
.close-popup::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.close-popup::before {
  transform: rotate(45deg);
}
.close-popup::after {
  transform: rotate(-45deg);
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.popup-bg img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.popup-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.popup-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}
form input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  margin-top: 30px;
  padding: 5px 15px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
form input:focus {
  outline: none;
}
form input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.popup-form {
  display: flex;
  flex-direction: column;
}
.popup-btn {
  cursor: pointer;
  background-color: transparent;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
.popup-btn:focus {
  outline: none;
}
.btn {
}

@media(max-width: 992px) {
  .menu-list {
    margin-top: 46px;
  }
  .menu-list {
    display: none;
  }
  .header-burger {
    display: flex;
  }

  h1 {
    font-size: 75px;
    line-height: 130%;
  }
  .main-title-text {
    margin-top: 20px;
  }
  .paragraph-text {
    font-size: 16px;
    line-height: 20px;
  }

  .btn {
    padding: 34px 40px;
    font-size: 18px;
    line-height: 22px;
    white-space: inherit;
    text-align: center;
  }

  .section-title {
    font-size: 40px;
    line-height: 53px;
  }

  .section-subtitle {
    margin-top: 30px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  .video-grid-title {
    margin-top: 35px;
    font-size: 26px;
    line-height: 35px;
  }

  .book-btn:not(:first-child) {
    margin-top: 30px;
  }

  .classes-speaks {
    margin-top: 120px;
  }
  .new {
    margin-top: 120px;
  }
  .partnership {
    margin-top: 120px;
  }
  .footer {
    margin-top: 120px;
  }
  .uk-war {
    margin-top: 120px;
  }
  .popup-body {
    width: 80vw;
    height: 80vh;
    position: relative;
    padding: 40px 40px 60px 40px;
  }
  .burger-menu {  
    display: flex;
    transform: translateX(100%);

    transition: 0.5s ease;
  }
  .burger-menu.active {  
    transform: translateX(0);
  }
  .teaser-item-release-date {
    font-size: 27px;
    line-height: 125%;
  }
  .film-item-release-date {
    font-size: 27px;
    line-height: 125%;
  }
}
@media(max-width: 768px) {
  .menu-footer {
    margin-top: 200px;
  }
  .menu-footer-social {
    display: flex;
  }
  .menu-footer-social_vk {
    width: 60px;
    height: 60px;
  }
  .menu-footer-social_vk img {
    width: 55px;
    height: 55px;
  }
  .menu-footer-social_youtube {
    width: 60px;
    height: 60px;
    margin-left: 40px;
  }
  .menu-footer-social_youtube img {
    width: 55px;
    height: 55px;
  }
  .menu-footer-lang {
    font-size: 20px;
    line-height: 27px;
  }
  h1 {
    font-size: 60px;
    line-height: 130%;
  }

  .btn {
    padding: 30px 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-title {
    font-size: 30px;
    line-height: 40px;
  }

  .section-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .video-grid-title {
    margin-top: 30px;
    font-size: 22px;
    line-height: 29px;
  }

  .book-btn:not(:first-child) {
    margin-top: 20px;
  }

  .classes-speaks {
    margin-top: 90px;
  }
  .new {
    margin-top: 90px;
  }
  .partnership {
    margin-top: 90px;
  }
  .footer {
    margin-top: 90px;
  }
  .uk-war {
    margin-top: 90px;
  }
  .header-lang-link {
    font-size: 20px;
    line-height: 27px;
  }

  .main-page-gradient {
    height: 130px;
  }
  .teaser-item-release-date {
    top: 30px;
    font-size: 18px;
    line-height: 125%;
  }
  .film-item-release-date {
    font-size: 18px;
    line-height: 125%;
    bottom: 10px;
  }
}
@media(max-width: 767px) {
  .footer-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-column {
    order: 2;
    margin-top: 30px;
  }
  .nav-column {
    order: 1;
  }
  .contacts-column {
    order: 3;
    margin-top: 30px;
    text-align: center;
  }
  .footer-social {
    justify-content: center;
  }
  .classes-speaks {
    margin-top: 40px;
  }
  .new {
    margin-top: 40px;
  }
  .partnership {
    margin-top: 40px;
  }
  .footer {
    margin-top: 40px;
  }
  .uk-war {
    margin-top: 40px;
  }
  .main-title {
    padding-top: 80px;
  }
}
@media(max-width: 576px) {
  .header-burger {
    width: 30px;
    height: 24px;
    margin-left: 15px;
  }
  h1 {
    font-size: 40px;
    line-height: 130%;
  }

  .btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-title {
    font-size: 24px;
    line-height: 125%;
  }

  .section-subtitle {
    font-size: 17px;
    line-height: 21px;
  }

  .video-grid-title {
    margin-top: 25px;
    font-size: 20px;
    line-height: 27px;
  }

  .book-row {
    flex-direction: column;
  }
  .book-buttons {
    order: 2;
  }
  .book-img {
    order: 1;
  }

  .new-row {
    flex-direction: column;
  }
  .new-text {
    order: 1;
  }
  .video-new {
    order: 2;
    margin-top: 20px;
  }
  .header {
    height: 60px;
  }
  .classes-speaks {
    margin-top: 50px;
  }
  .new {
    margin-top: 50px;
  }
  .partnership {
    margin-top: 50px;
  }
  .footer {
    margin-top: 50px;
  }
  .uk-war {
    margin-top: 50px;
  }
  .header-lang-link {
    font-size: 20px;
    line-height: 27px;
  }
  .header-lang-link {
    font-size: 16px;
    line-height: 21px;
  }
  .classes-speaks-buttons {
    flex-direction: column;
    margin-top: 50px;
  }
  .classes-speaks-btn:not(:first-child) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .classes-speaks-buttons .btn {
    width: 280px;
  }
  .popup-body {
    width: 100vw;
    height: 100vh;
    padding: 20px 20px 40px 20px;
  }
  .close-popup {
    width: 38px;
    height: 38px;
    top: 25px;
    right: 15px;
}
.new-text {
  margin-left: 0;
}
.popup-btn {
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}
form input {
  margin-top: 20px;
}
form input::placeholder {
  font-size: 16px;
  line-height: 20px;
}
.video-row {
  grid-template-columns: 1fr;
  column-gap: 0;
}
.burger-menu-list li {
  font-size: 20px;
  line-height: 110%;
}
.menu-footer-social_vk {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  transition: 0.5s ease;
}
.menu-footer-social_vk img {
  width: 45px;
  height: 45px;
}
.menu-footer-social_youtube {
  width: 55px;
  height: 55px;
}
.menu-footer-social_youtube img {
  width: 45px;
  height: 45px;
}
.teaser-item-release-date {
  top: 40px;
  font-size: 14px;
}
.film-item-release-date {
  font-size: 14px;
  bottom: 10px;
}
}

@media(max-width: 320px) {
  h1 {
    font-size: 30px;
    line-height: 130%;
  }
  .section-title {
    font-size: 20px;
    line-height: 120%;
  }
  .video-grid-title {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
}